@charset "utf-8";
/* CSS Document */

#wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

nav{
	grid-column: 2/4;
	grid-row: 1;
	background-color:#67A464;
}

header{
	grid-column: 2/4;
	grid-row: 2;
	background-color: #3E5E3B;
}

section{
	grid-column: 2/3;
	grid-row: 3;
	background-color: #7A3729;
}
article{
	grid-column: 2/3;
	grid-row: 4;
	background-color: #646951;
}
aside{
	grid-column: 3/4;
	grid-row: 3/5;
	background-color: #45231A;
}

footer{
	grid-column: 2/4;
	grid-row: 5;
	background-color: #598C5A;
	
}